@bGreen: #42604a;
@bDarkGreen: #26372c;
@bSemiDarkGreen: #3c5744;

@bRed: #c02c2c;
@bDarkRed: #722425;
@bSemiDarkRed: #b02b2a;

@import "fonts";
@import "mixins";

html{
    overflow: hidden;
}

body{
    text-align: center;
    background: transparent;
    -webkit-user-select: none;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
    margin-top: 20px;

    //min-height: 500px;
}

html[data-bg-color="red"]{
    background: @bRed;
    color: @bDarkRed;
}
html[data-bg-color="green"] {
    background: @bGreen;
    color: @bDarkGreen;
}

.screen{
    display: none;
}

.logo {
    font-family: "frontage 3d", serif;

    .top{
        font-family: "frontage bulb";
        font-size: 400%;
    }
    .middle{
        font-size: 850%;
    }
    .bottom{
        font-size: 350%;
    }
}

.container-size{
    text-transform: uppercase;
    margin: 50px 0;
    font-size: 350%;
    font-family: "BebasNeue";
}

#timer-btn{
    position: absolute;
    bottom: 100px;
    cursor: pointer;
    width: 100%;
    margin: 0 -10px;
    -webkit-user-select: none;
    & * {
        pointer-events: none;
        -webkit-user-select: none;
    }
    .text-container{
        position: relative;
        width: 205px;
        margin: 0 auto;
        text-transform: uppercase;

        .text{
            color: @bRed;
            font-size: 200%;
            font-family: "frontage regular";
            z-index: 9999;
            position: absolute;
            top: 36px
        }
    }

    .hexagon{
        position: relative;
        margin: 0 auto;
        width: 180px;
        .hexagon-mixin();
    }

   
    .front-hex{
        -webkit-transform: rotate(30deg);
        zoom: 1.43;

        .hex{
            margin: 0 auto; 
            background: @bDarkRed;
        }
    }

    .bg-hex{
        height: 0;
        zoom: 1.66;
        left: 15px;
        top: -6px;

        .hex{
            background: @bSemiDarkRed;
        }
    }
}
#timer-btn.READY{
    .hex{
        background: @bDarkGreen;
    }
    .bg-hex .hex{
        background: @bSemiDarkGreen;
    }


    .text{
        color: @bGreen;
    }
}

#counter{
    .text{
        text-transform: uppercase;
        font-size: 300%;
        font-weight: bold;
        margin-bottom: 50px;
    }
    .progress-seconds{
        margin: 0 auto;
        position: relative;
        .circle(@bDarkGreen, 300px);
    }
    .progress-fractions{
        position: absolute;
        top: -24px;
        right: -75px;
        .circle(@bDarkGreen, 150px);
        font-size: 50%;
        border: 2px solid;
    }
}

.bottom-help{
    font-size: 200%;
    margin-top: 30px;
    bottom: 0;
}

#try-again-btn{
    font-size: 100%;
    padding: 15px;
    background: @bDarkGreen;
    color: @bGreen;
    border: 0;
    border-radius: 10px;
}

.display-none{
    display: none;
}

#log{
    display: none;
    white-space: pre;
    position: fixed;
    left: 0;
    bottom: 0;
    //opacity: 0;
    width: 100%;
    height: 20%;
    overflow: scroll;
    text-align: left;
    background: #000;
}

@import "responsive";