@bGreen: #42604a;
@bDarkGreen :#26372c;

@bRed: #c02c2c;
@bDarkRed: #722425;
@bSemiDarkRed: #b02b2a;

@import "fonts";
@import "mixins";

body{
    text-align: center;
    margin-top: 100px;
    background: transparent;
    -webkit-user-select: none;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

html[data-bg-color="red"]{
    background: @bRed;
    color: @bDarkRed;
}
html[data-bg-color="green"] {
    background: @bGreen;
    color: @bDarkGreen;
}

.screen{
    display: none;
}

.logo {
    font-family: "frontage 3d", serif;

    .top{
        font-family: "frontage bulb";
        font-size: 400%;
    }
    .middle{
        font-size: 850%;
        @media (max-width: 768px) {
            font-size: 700%;
        }
    }
    .bottom{
        font-size: 350%;
    }
}

.container-size{
    text-transform: uppercase;
    margin: 50px 0;
    font-size: 350%;
    font-family: "BebasNeue";
}

#timer-btn-container{
    position: relative;
    top: 50px;
    cursor: pointer;
    width: 300px;
    height: 200px;
    padding-top: 70px;
    margin: 0 auto;
    -webkit-user-select: none;
    & * {
        pointer-events: none;
        -webkit-user-select: none;
    }
    .text-container{
        position: relative;
        width: 205px;
        margin: 0 auto;
        text-transform: uppercase;

        .text{
            color: @bRed;
            font-size: 200%;
            font-family: "frontage regular";
            z-index: 9999;
            position: absolute;
            top: 50px
        }
    }
   
    #timer-toggle-btn{
        -webkit-transform: rotate(30deg);
        zoom: 1.43;
        margin: 0 auto;
        margin-top: -85px;
        .hexagon-flat-top-mixin();
        .hex{
            margin: 0 auto; 
            background: @bDarkRed;
        }
    }
    .bg-hex{
        .hexagon-flat-top-mixin();
        .hex{
            zoom: 1.6;
            margin: 0 auto;
            background: @bSemiDarkRed;
        }
    }
}

#counter{
    .text{
        text-transform: uppercase;
        font-size: 300%;
        font-weight: bold;
        margin-bottom: 50px;
    }
    .progress-seconds{
        margin: 0 auto;
        position: relative;
        .circle(@bDarkGreen, 300px);
    }
    .progress-fractions{
        position: absolute;
        top: -24px;
        right: -60px;
        .circle(@bDarkGreen, 150px);
        font-size: 50%;
        border: 2px solid;
    }
}



.display-none{
    display: none;
}

#log{
    display: none;
    white-space: pre;
    position: fixed;
    left: 0;
    bottom: 0;
    //opacity: 0;
    width: 100%;
    height: 20%;
    overflow: scroll;
    text-align: left;
    background: #000;
}

#timer-toggle-btn:active{
    opacity: 0.7;
}