@bGreen: #42604a;
@bRed: #c02c2c;
@bDarkRed: #722425;
@bSemiDarkRed: #b02b2a;

@import "fonts";
@import "mixins";

body{
    background: @bRed;
    text-align: center;
    margin-top: 100px;
    color: @bDarkRed;
}

.logo {
    font-family: "frontage 3d", serif;

    .top{
        font-family: "frontage bulb";
        font-size: 400%;
    }
    .middle{
        font-size: 850%;
        margin: -40px;
    }
    .bottom{
        font-size: 350%;
    }
}

.container-size{
    text-transform: uppercase;
    margin: 50px 0;
    font-size: 350%;
    font-family: "BebasNeue";
}

.timer-btn-container{
    position: relative;
    top: 50px;
    cursor: pointer;
    .text-container{
        position: relative;
        width: 150px;
        margin: 0 auto;
        text-transform: uppercase;
        .text{
            color: @bRed;
            font-size: 230%;
            font-family: "frontage regular";
            z-index: 9999;
            position: absolute;
            top: 40px
        }
    }
   
    #timer-toggle-btn{
        -webkit-transform: rotate(30deg);
        zoom: 1.43;
        margin: 0 auto;
        margin-top: -85px;
        .hexagon-flat-top-mixin();
        .hex{
            margin: 0 auto; 
            background: @bDarkRed;
        }
    }
    .bg-hex{
        .hexagon-flat-top-mixin();
        .hex{
            zoom: 1.6;
            margin: 0 auto;
            background: @bSemiDarkRed;
        }
    }
}



.display-none{
    display: none;
}

#log{
    display: none;
    white-space: pre;
    position: fixed;
    left: 0;
    bottom: 0;
    //opacity: 0;
    width: 100%;
    height: 20%;
    overflow: scroll;
    text-align: left;
    background: #000;
}

#timer-toggle-btn:active{
    opacity: 0.7;
}